<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>__APPNAME__|管理后台</title>
    <meta name="keywords" content="全网通;VPN" />
    <meta name="description" content="翻墙;VPN" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="__LIB__/pintuer/pintuer.css" />
		<link rel="stylesheet" href="__CSS__/menu.css" />
		<style type='text/css'>
		</style>
    <script src="__LIB__/pintuer/jquery.js"></script>
    <script src="__LIB__/pintuer/pintuer.js"></script>
		<script src="__LIB__/popup.js"></script>
    <!--[if lt IE 8]>
		<script src="__LIB__/pintuer/respond.js"></script>
		<![endif]-->
		<script type='text/javascript'>
		$(function(){
			$('.view-charge-list').click(function() {
				var id = $(this).attr("data-id");
				$.post("{:U('Admin/Cashier/chargeList')}", { operator: id }, function(r) {
					var t_content = r.map(x => {
						return '<tr><td>'+x.operator+'</td><td>'+x.uid+'</td><td>'+x.cash+'</td><td>'+x.remark+'</td><td>'+x.otime+'</td></tr>';
					})
					var tpl = "<table class='table'><thead><th>收银员</th><th>充值账户</th><th>充值金额</th><th>备注</th><th>操作时间</th></thead><tbody>"+t_content+"</tbody></table>";
					$(".charge-list").html(tpl);
				});
			});
		});
		</script>
	</head>
<body>
  <!---导航栏-->
  <include file="./Tpl/header.html" user="{$user.user}" />
  
  <!---中部内容区--->
  <div id='content'>
		<div class='nav-center'>
			<div class='line'>
				<div class='x2'>
					<include file="./Tpl/admin/menu.html" selected="cashier" />
				</div>
				<div class='x10 content'>
					<h3>收银员列表</h3>
					<hr>
					<div class="line">
						<ul class="x3 cashier-list">
						<!--结果区域收银员信息列表--->
						<volist name="cashiers" id="cashier">
							<li class="cashier-box">
								{$cashier.user}
								收入:{$cashier.cash}
								<button class="button bg-sub view-charge-list" data-id="{$cashier.user}">查看充值记录</button>
							</li>
						</volist>
						</ul>
						<ul class="x9 charge-list">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
		
 <!---footer--->
	<include file="./Tpl/footer.html" />	
	</body>
</html>
