<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>__APPNAME__|管理后台</title>
    <meta name="keywords" content="全网通;VPN" />
    <meta name="description" content="翻墙;VPN" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="__LIB__/pintuer/pintuer.css" />
		<link rel="stylesheet" href="__CSS__/menu.css" />
		<style type='text/css'>
		select[name=country] {
			cursor:pointer;
			height:34px;
		}
		.notice{
			text-align:center;
			height:40px;
			color:#fff;
			line-height:40px;
		}
		</style>
    <script src="__LIB__/pintuer/jquery.js"></script>
    <script src="__LIB__/pintuer/pintuer.js"></script>
    <!--[if lt IE 8]>
		<script src="__LIB__/pintuer/respond.js"></script>
		<![endif]-->
		<script type='text/javascript'>
		var server = {$server};
		$(function(){
			var up = server.up;
			var user = '',pwd = '';
			if (up !== '') {
				var idx = Number(up.slice(-2));
				server.user = up.slice(0, idx);
				server.pwd = up.slice(idx, -2);
			}
			['name', 'ip', 'port', 'remark', 'user', 'pwd'].forEach(function(e) {
				$('input[name='+e+']').val(server[e]);
			});
			['type', 'country','status'].forEach(function(e){
				$('select[name='+e+']').val(server[e]);
			});

			
			$('select[name=country]').change(function(){
					$('#flag').attr('src','__IMG__/flags/'+$(this).val()+'.png');
			});
		});
		</script>
	</head>
<body>
  <div id='content'>
	<!---添加新节点开始-->
	<if condition="$msg neq null">
		<p class="notice bg-blue">{$msg}</p>
	</if>
	<form method="post" class="form-x form-auto" name="addform">
									<div class="form-group">
										<div class="label">
											<label>节点名</label>
										</div>
										<div class="field">
											<input type="text" class="input" data-validate="required:必填" name="name" size="30" placeholder="请输入节点名称">
											
										</div>
									</div>
									<div class="form-group">
										<div class="label">
											<label>所属地区</label>
										</div>
										<div class="field">
											<select name="country" class="input">
												<option value="us">美国</option>
												<option value="jp">日本</option>
												<option value="hk">香港</option>
												<option value="mc">澳门</option>
												<option value="sg">新加坡</option>
												<option value="kr">韩国</option>
												<option value="ca">加拿大</option>
												<option value="tw">台湾</option>
												<option value="en">英国</option>
												<option value="other" selected>其它</option>
											</select>
											<img src="__IMG__/flags/other.png" id='flag' width=30px height=30px/>
										</div>
									</div>
									<div class="form-group">
										<div class="label">
											<label>状态</label>
										</div>
										<div class="field">
											<select name="status" class="input">
												<option value="ZC">正常</option>
												<option value="YJ">拥挤</option>
												<option value="TZ">停止</option>
											</select>
										</div>
									</div>

									<div class="form-group">
										<div class="label">
											<label>代理服务器地址</label>
										</div>
										<div class="field">
											<select name="type" class="input">
												<option value="https">https</option>
												<option value="http">http</option>
												<option value="proxy">proxy</option>
												<option value="socks5">socks5</option>
											</select>
											<input type="text" class="input" data-validate="required:必填" name="ip" size="30" placeholder="ip">
											<input type="text" class="input" data-validate="required:必填" name="port" size="10" placeholder="端口">
										</div>
									</div>
									<div class="form-group">
										<div class="label">
											<label>认证账号</label>
										</div>
										<div class="field">
											<input type="text" name="user" class="input" placeholder="若无则无需填写">
										</div>
									</div>
									<div class="form-group">
										<div class="label">
											<label>认证密码</label>
										</div>
										<div class="field">
											<input type="text" name="pwd" class="input" placeholder="若无则无需填写">
										</div>
									</div>
									<div class="form-group">
										<div class="label">
											<label>备注</label>
										</div>
										<div class="field">
											<input type="text" name="remark" class="input" placeholder="备注节点信息">
										</div>
									</div>
									<div class="form-button">
										<button class="button bg-sub icon-plus btn-add" type="submit">保存</button>
									</div>
								</form>
	<!---添加新节点结束-->
	</div>
	</body>
</html>
