<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>__APPNAME__|管理后台</title>
    <meta name="keywords" content="全网通;VPN" />
    <meta name="description" content="翻墙;VPN" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="__LIB__/pintuer/pintuer.css" />
		<link rel="stylesheet" href="__CSS__/menu.css" />
		<style type='text/css'>
		</style>
    <script src="__LIB__/pintuer/jquery.js"></script>
    <script src="__LIB__/pintuer/pintuer.js"></script>
		<script src="__LIB__/popup.js"></script>
    <!--[if lt IE 8]>
		<script src="__LIB__/pintuer/respond.js"></script>
		<![endif]-->
		<script type='text/javascript'>
		$(function(){
			var popup =(new Popup()).getInstance();
			var userCharge = {
				user: '',
				points: 0,
				card: ''
			};
			// 预选充值选项
			$('.pre-charge button').click(function(e) {
				$('.pre-charge button').removeClass('active');
				$(e.target).addClass('active');
				var type = $(e.target).attr('data-type');
				var addTime = {
					n: 0,
					type: 'hour',
					price: 0
				};
				switch(type) {
					case 'day':
						Object.assign(addTime, { n: 1, type: 'day', price: 5 });
						break;
					case 'month':
						Object.assign(addTime, { n: 1, type: 'month', price: 15 });
						break;
					case 'quarter':
						Object.assign(addTime, { n: 3, type: 'month', price: 40 });
						break;
					case 'year':
						Object.assign(addTime, { n: 12, type: 'month', price: 115 });
						break;
					default: undefined;
				}
				$('input[name=chargeTime]').val(addTime.n);
				$('select[name=unit').val(addTime.type === 'day' ? 'd' : 'm');
				$('input[name=cash]').val(addTime.price);
				$('input[name=chargeTime]').change();
				
			});
			$(".btn-search").click(function(){
				var user = $("#user").val().trim();
				if(user===""){
					popup.showTip("用户名不能为空！");
					setTimeout(function(){popup.hideTip();},1000);
					return false;
				}
				popup.showTip("正在查询用户...");
				$.getJSON("{:U('Admin/User/getUser')}&user="+user,function(r){
					userCharge.user = r[0].user;
					popup.hideTip();
					if(r.length==0){
						$(".btn-charge").prop("disabled",true);
						$(".user-charge").html("");
						$("tbody").html("<tr><td colspan='4' class='text-red text-center'>无任何结果！</td></tr>");
						return false;
					}else{
						$(".btn-charge").prop("disabled",false);
						var user = r[0];
						$(".user-charge").html(user.user);
						$("tbody").html("<tr><td>"+user.user+"</td><td>"+user.qq+"</td><td>"+user.points+"</td></tr>");
					}
				});
				
			});


			userCharge.points = $('select[name=points]').val();
			$('input[name=chargeAmt]').val(userCharge.points);

			$("input[name=chargeAmt]").change(function(){
				userCharge.points=$(this).val();
			});
			$("select[name=points]").change(function(){
				userCharge.points=$(this).val();
				$('input[name=chargeAmt]').val(userCharge.points);
			});
			
			$(".btn-charge").click(function(e){
				if ($(this).hasClass('charge1')) {
					userCharge.card = $("input[name=card]").val();
					if (!userCharge.card.trim()) {
						popup.showTip('卡密不能为空！');
						setTimeout(function(){popup.hideTip();},1000);
						return false;
					}
				} else {
					userCharge.card = void 0;
				}

				$.post("{:U('Admin/Cash/recharge')}", userCharge ,function(r){
					popup.showTip(r.msg||r);
					setTimeout(function(){popup.hideTip();},1000);
					if(r.status==1){
						setTimeout(function(){
							location.reload();
						},1000);
					}
				});
			});
		});
		</script>
	</head>
<body>
  <!---导航栏-->
	<!--此处要传入当前登录用户的用户名-->
  <include file="./Tpl/header.html" user="{$user.user}" />
  
  <!---中部内容区--->
  <div id='content'>
		<div class='nav-center'>
			<div class='line'>
				<div class='x2'>
					<!--此处要传入当前选中菜单的class值-->
					<include file="./Tpl/admin/menu.html" selected="cash" />
				</div>
				
				<div class='x10 content'>
					<h3>用户充值</h3>
					<hr>
					<div class="search-form" onsubmit="return false;">
						<form style='max-width:500px;margin:0 auto;'>
							<input type='text' class='input' placeholder='请输入用户名' id='user' style='width:60%;border-radius:0;float:left'>
							<button class='button bg-main btn-search' class='float:left'>搜索</button>
							
						</form>
					</div>
					<div class="userinfo">
						<table class="table">
						<thead>
							<tr class="th">
								<th>账号</th><th>QQ</th><th>积分余额</th>
							</tr>
						</thead>
							<tbody>
							<tr>
								<tr><td colspan='4' class='text-red'></td></tr>
							<tr>
							</tbody>
						</table>
					</div>
					<hr>
					<div class="recharge-form panel" style=''>
						<div class="panel-head">选择<span class='text-red user-charge'></span>卡密充值:</div>
						<div class="panel-body">
						<div class='line'>
							<input type='text' name="card" class='input' placeholder='请输入卡密' style='width:60%;border-radius:0;float:left'>
							
							<button class="button bg-main btn-charge charge1" disabled>充值</button></div>
						</div>
					</div>
					<hr/>
					<div class="recharge-form panel" style='margin-bottom:50px'>
						<div class="panel-head">选择<span class='text-red user-charge'></span>充值:</div>
						<div class="panel-body">
						<div class='line'>
							充值积分:
							<select style="height:34px;" name="points">
								<volist name="chargeOptions" id="charge">
									<option value="{$charge.points}">{$charge.title}</option>
								</volist>
							</select>
							<input class="input" style="width: 200px; display: inline-block;" type="number" name="chargeAmt">
							<button class="button bg-main btn-charge charge2" disabled>充值</button></div>
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
		
 <!---footer--->
	<include file="./Tpl/footer.html" />	
	</body>
</html>
