<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>__APPNAME__|用户后台</title>
    <meta name="keywords" content="__APPNAME__;VPN" />
    <meta name="description" content="翻墙;VPN" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="__LIB__/pintuer/pintuer.css">
		<style type='text/css'>
		#nav-top{
			height:60px;
			padding-top:5px;
			box-shadow: #aaa 1px 1px 30px;
		}
		.nav-center{
			width:80%;
			margin:0 auto;
		}
		.nav-title{
			font-size:30px;
			line-height:50px;
		}
		.nav-reg{
			line-height:50px;
		}
		.fleft{
			float:left;
		}
		.fright{
			float:right;
		}
		.menu{
			border:#ccc solid 1px;
		}
		.menu .cpy{
			color:#aaa;
		}
		.menu-s{
			text-align:center;
			border-bottom:#aaa solid 1px;
		}
		
		.menu-s:hover{
			//color: #0a8;
			cursor:pointer;
			background:#ccc;
		}
		.menu .selected{
			color:#fff;
			background:#44b549;
		}
		
		#content{
			margin-top:50px;
		}
		
		#content .content{
			padding:0 30px;
		}
		#footer{
			position:fixed;
			bottom:0;
			width:100%;
			background:rgb(238,238,238);
			height:50px;
			line-height:50px;
			font-size:15px;
			text-align:center;
		}
		</style>
    <script src="__LIB__/pintuer/jquery.js"></script>
    <script src="__LIB__/pintuer/pintuer.js"></script>
    <!--[if lt IE 8]>
		<script src="__LIB__/pintuer/respond.js"></script>
		<![endif]-->
		<script type='text/javascript'>
		(function(w){
	w.pop=function(mask,container,title,body){
	
	function setTitle(str){
		title.html(str);
		return this;
	}
	function setBody(str){
		body.html(str);return this;
	}
	function append(str){
		body.html(str);return this;
	}	
	function setCss(obj){
		container.css(obj);
		return this;
	}
	function setBodyCss(obj){
		body.css(obj);
		return this;
	}
	function show(){
		//居中位置
		
		var sH = Number(window.outerHeight)-100;//屏幕可用高度
		var cH = parseInt(container.css('height')||100);
		var mH = Math.abs(sH-100-cH);
		container.css({
			'margin':'auto',
			'margin-top':(mH/2)+'px'
		});
		container.show();
		mask.show();
		return this;
	}
	function hide(t){
		var delay = parseInt(t);
		mask.fadeOut();
		return this;
	}
	return {
		setTitle:setTitle,
		setBody:setBody,
		setCss:setCss,
		setBodyCss:setBodyCss,
		append:append,
		show:show,
		hide:hide
	}
};	
})(window);
			$(function(){
	
	var mask=$('.mask'),
	container=$('.container-popup'),
	title=$('.container-popup').find('.popup-title-text'),
	body=$('.container-popup>.popup-body');
	var popup=new pop(mask,container,title,body);
	$('.edit').click(function(){
		var user="{$user.user}",
			email = "{$user.email}";
			var status =parseInt($(this).parent().next().next().html());
			var link_edit_html = '<div class=line><form class="form-x">'+
			'<div class="form-group"><div class="label"><label for="user">账号:</label></div><div class="field" style="line-height:34px"><input class="input" name="user" value="'+user+'" disabled></div></div>'+
			'<div class="form-group"><div class="label"><label for="email">邮箱:</label></div><div class="field" style="line-height:34px"><input class="input" name="email" value="'+email+'"></div></div>'+
			'<div class="form-group"><div class="label"><label for="pwd">原密码:</label></div><div class="field"><input type="password" class="input" name="pwd" size="30" placeholder="不修改则无需填写"></div></div>'+
			'<div class="form-group"><div class="label"><label for="confirmpwd">修改密码:</label></div><div class="field"><input type="password" class="input" name="pwd2" size="30" placeholder="不修改则无需填写"></div></div>'+
			'<div class="form-group" style="text-align:center"><button class="button border-black link-edit-yes" data-id=>确定</button><button class="button border-black btn-cancel">取消</button></div></form>'+
'</div>';
			popup.setTitle('修改资料').setCss({width:'500px',height:'200px'}).setBody(link_edit_html).show();
	});
		$('.container-popup').find('.popup-title-close').bind('click',function(e){
			popup.hide();
		})
		//取消操作
		$('.container-popup').on('click','.btn-cancel',function(){popup.hide();});
		
		//确认修改资料
		//确认修改
		$('.container-popup').on('click','.link-edit-yes',function(e){
			e.preventDefault();
			//先检查密码问题
            var form_node = $(e.target).parent().parent();
            var pwd = form_node.find('input[name=pwd]').val().trim();
            var pwd2= form_node.find('input[name=pwd2]').val().trim();
            var email = form_node.find('input[name=email]').val().trim();
            $.post("{:U('Home/User/user_handler')}",{type:'update',pwd:pwd,pwd2:pwd2,email:email},function(r){
                popup.append('<p class=text-center>'+r.msg+'</p>');
								if(r.status==1){
									setTimeout(function(){popup.hide();location.reload();},2000);
								}
            });
		})
	})
		</script>
	</head>
<body>
  <!---导航栏-->
  <div id='nav-top'>
		<div class='nav-center'>
			<div class='nav-logo hidden-l fleft'><img src='__LOGO__' width=50px height=50px /></div>
			<div class='nav-title fleft'>__APPNAME__</div>
			<div class='nav-reg fright'><font color=#f00>{$user.user}</font>,您好！[<a href="{:U('Home/User/logout')}">退出</a>]</div>
		</div>
  </div>
  
  <!---中部内容区--->
  <div id='content'>
		<div class='nav-center'>
			<div class='line'>
				<div class='x2'>
					<dl class='menu'>
						<dd class='menu-s'><a href={:U('Home/User/index')} class='icon-home'>开始</a></dd>
						<dd class='menu-s'><a href={:U('Home/User/pay')} class='icon-cny'>充值续费</a></dd>
						<dd class='menu-s selected'><span class='icon-user'>账号信息</span></dd>
						<dd class='menu-s'><a href={:U('Home/User/logout')} class='icon-sign-out'>退出登录</a></dd>
						<dd class='cpy text-center'>
					
							<p>__APPNAME__ __YEAR__</p>
						
						</dd>
					</dl>
				</div>
				
				<div class='x10 content'>
					<h3>欢迎使用__APPNAME__！</h3>
					<!---未激活提示激活--->
					<blockquote class="quote border-green doc-quote">
						<strong>账号信息<a href=# class='edit' style='float:right;text-decoration:underline'>修改</a></strong>
						<p>用户名：{$user.user}</p>
						<p>邮箱：{$user.email}</p>
						<p>状态：
							<switch name="user.status" >
							<case value="0" break="0或1"><font color=#f00>未激活</font></case>
							<case value="1"><font color=#0f0>正常</font></case>
							<case value="2"><font color=#00f>已过期</font></case>
							<default />
							</switch>
						</p>
						<p>上次登录时间：{$user.time}</p>
					</blockquote>
					
					
				</div>
			</div>
		</div>
	</div>
		
				
 <!---footer--->
  <div id='footer'>
		__FOOTER__
  </div>

	
	  <!---全局遮罩层-->
  <div class='mask' style='position:fixed;top:0;width:100%;height:100%;background:rgba(0,0,0,0.6);display:none;'>
		  <!---弹出层--->
		<div class='container-popup' style='position:relative;width:300px;margin:auto;margin-top:200px;display:none'>
		<div class='popup-title' style='width:100%;height: 38px;color:#fff;padding:0 10px;line-height: 38px;position: relative;background:rgb(51,51,51);background: -webkit-gradient(linear,left top,right top,from(#000),to(#767676));border-bottom: 1px solid #d1d6dd;'>
		<span class='popup-title-text'>标题</span>
		<span class='popup-title-close icon-times' style='float:right;cursor:pointer;'></span>
		</div>
		<div class='popup-body' style='background:#fff;color:#000;min-height:100px;padding:10px'>
		</div>
		</div>
  </div>
		
	</body>
</html>
